<nav class="myNav navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="./index.html#mainSection">
        <img src="./public/images/identidade/MARCA_TAURA_black_Prancheta 1.png"  width="50" style="max-height:50px;">
      </a>
      <div class="navbar-burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="./index.html#mainSection">
          Inicio
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#servicosSectionID" >
            Nossos Serviços
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="https://bulma.io/documentation/overview/start/" style="pointer-events: none;">
              Energia Solar
            </a>
            <a class="navbar-item" href="https://bulma.io/documentation/overview/modifiers/" style="pointer-events: none;" >
                Instalações Elétricas
            </a>
            <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/" style="pointer-events: none;">
                Eficiência Energética
            </a>
          </div>
        </div>
        <a class="navbar-item" href="./aprenda.html" style="pointer-events: none;">
            Conhecimentos
          </a>
        <a class="navbar-item" href="./index.html#sectionSocios">
            Quem Somos
          </a>
        <a class="navbar-item" href="#">
            Nosso Ideal
          </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item mr-6">
          <div class="field is-grouped">
            <p class="control">
              <a href="#" class="button is-primary js-modal-trigger" data-target="modal-contato" id="nav-Contato" >
                <span class="icon">
                  <i class="fas fa-phone"></i>
                </span>
                <span>Contato</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>